*.pyc
*.png
*.pkl
*.swp
*.ipynb
*.mat
delete/*
ismore_tests/sim_data/*
plots_and_data/*
machine_settings.py
tasklist.py
featurelist.py
tubingen/tasklist.py
tubingen/featurelist.py
backup_log.txt
*.*~
/archive
tubingen/brainamp_channel_lists.py
tubingen/hybrid_remote_control
tubingen/decoder_configs
sounds/*
